{% extends "OktolabIntakeBundle::layout.html.twig" %}

{% block nav_head %}
    {% include 'OktolabIntakeBundle::menu.html.twig' with {'selected': '', 'dropdown': 'backend'} %}
{% endblock %}

{% block body_main %}
    <h1>{{ 'intake.edit_user.header'|trans }}</h1>

    {{ form_start(form) }}

        {{ form_errors(form) }}
        
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.isActive) }}

        <div class="list-group">
            {% for user_role in form.vars.value.roles%}
                <a href="{{ path('intake_backend_user_removeRole', { 'user': form.vars.value.id, 'role': user_role.id }) }}" class="list-group-item list-group-item-success">{{ user_role.name|trans }}</a>
            {% endfor %}
            {% for role in roles %}
                <a href="{{ path('intake_backend_user_addRole', { 'user': form.vars.value.id, 'role': role.id }) }}" class="list-group-item">{{ role.name|trans }}</a>
            {% endfor %}
        </div>
        {{ form_row(form.save) }}
        <a role="button" class="btn btn-danger" href="{{ path('intake_backend_user_delete', { 'user': form.vars.value.id }) }}">
            <span class="glyphicon glyphicon-remove"></span> {{ 'intake.edit_user.user_delete'|trans }}
        </a>         

    {{ form_end(form) }}
{% endblock%}