{% extends "OktolabIntakeBundle::layout.html.twig" %}

{% block nav_head %}
    {% include 'OktolabIntakeBundle::menu.html.twig' with {'selected': '', 'dropdown': 'backend'} %}
{% endblock %}

{% block body_main %}
    <h1>{{ 'intake.new_user.header'|trans }}</h1>

    {{ form_start(form) }}

        {{ form_errors(form) }}
        
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.roles) }}
        <ul>
        {% for role in form.roles %}
            <li>{{ form_row(role) }}</li>
        {% endfor %}
        </ul>
        {{ form_row(form.isActive) }}
        {{ form_row(form.save) }}     

    {{ form_end(form) }}
{% endblock%}