{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head %}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'intake_my_files', 'dropdown': 'backend'} %}
{% endblock %}

{% block body_main %}
<ul class="nav nav-tabs">
  <li role="presentation"><a href="{{ path('intake_my_files')}}">{{ 'intake.user.subscriptions'|trans }}</a></li>
  <li role="presentation" class="active"><a href="{{ path('intake_my_settings') }}">{{ 'intake.user.settings'|trans }}</a></li>
</ul>
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_label(form.contacts) }}
        {% for contact in form.contacts%}
            {{ form_row(contact)}}
        {% endfor %}
    {{ form_end(form) }}
{% endblock%}