{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': '', 'dropdown': ''} %}
{% endblock %}

{% block body_main %}
    <h1>{{ 'intake.about.title'|trans}}</h1>
    <p>{{ license|markdown }}</p>
    <p>{{ version|default('') }}</p>
    <div>
        <img src="{{ asset('bundles/oktolabintake/img/notepad.gif') }}" class="img-responsive" />
        <img src="{{ asset('bundles/oktolabintake/img/ie_logo.gif') }}" class="img-responsive" />
        <img src="{{ asset('bundles/oktolabintake/img/ns_logo.gif') }}" class="img-responsive" />
        <img src="{{ asset('bundles/oktolabintake/img/frames2.gif') }}" class="img-responsive" />
    </div>
{% endblock%}
