{% extends "OktolabIntakeBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'OktolabIntakeBundle::menu.html.twig' with {'selected': 'intake_new', 'dropdown': ''} %}
{% endblock %}

{% block body_main %}
    <h1>{{ 'intake.index.header'|trans }}</h1>
    {{ form_start(form) }}
        {{ form_errors(form) }}
        
        {{ form_row(form.series) }}
        {{ form_row(form.episodeDescription) }}

        <div class="form-group">
            <label for="fileupload" class="required">{{ 'intake.index.fileupload_label'|trans }}</label>
            <br />
            <span class="btn btn-default fileinput-button">
                <i class="glyphicon glyphicon-plus"></i>
                <span>{{ 'intake.file.add_files'|trans }}</span>
                <input id="fileupload" type="file" name="files[]" data-url="{{ oneup_uploader_endpoint('files') }}" multiple />
            </span>
        </div>
        <div class="form-group" id="div-fileupload">
            {% for source in form.vars.value.sources if form.vars.value.sources is not empty %}
                <p class="text-success">{{ source.name }}</p>
            {% endfor %}
            {% if databasefile is not empty %}
                {% for source in databasefile.sources %}
                    <div>
                        <p class="text-success"><span>{{ source.name }}</span></p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div id="progress" class="progress">
            <div class="progress-bar progress-bar-success"></div>
        </div>

        <p>
            <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">{{ 'intake.agb.button'|trans }}</button>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="well">
                {{ 'intake.agb.general'|trans }}
                <ul>
                    <li>{{ 'intake.agb.first'|trans }}</li>
                    <li>{{ 'intake.agb.second'|trans }}</li>
                    <li>{{ 'intake.agb.third'|trans }}</li>
                    <li>{{ 'intake.agb.fourth'|trans }}</li>
               </ul>
                {{ 'intake.agb.extra'|trans({'%link%': '<a href="http://www.okto.tv/uploads/LESEN/Der_Sender/OKTO_Richtlinien.pdf" target="blank">Okto-Programmgrundsätze</a>'})|raw }}
            </div>
        </div>

        {{ form_row(form.readAGB) }}
        {{ form_row(form.uniqueID) }}
        {{ form_row(form.uploaderEmail) }}
        {{ form_row(form.contact) }}
        {% if databasefile is not empty%}
            {% do form.save.setRendered %}
            <button type="submit" data-value="resend" id="oktolab_intake_bundle_filetype_save" name="oktolab_intake_bundle_filetype[save]" class="btn btn-default">{{ 'intake.file.submit'|trans }}</button>
        {% else %}
            {{ form_row(form.save, {'disabled': 'disabled'}) }}
        {% endif %}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/oktolabintake/js/upload/jquery.ui.widget.js') }}"></script>
    <script src="{{ asset('bundles/oktolabintake/js/upload/jquery.iframe-transport.js') }}"></script>
    <script src="{{ asset('bundles/oktolabintake/js/upload/jquery.fileupload.js') }}"></script>
    <script src="{{ asset('bundles/oktolabintake/js/upload/okto.js') }}"></script>
{% endblock %}