        <p>Downloads:
            <ul>
                {% for source in file.sources %}
                    <li>
                        <a href="{{ url('intake_download', { 'name': source.name }) }}">{{ source.originalName }}</a> ({{ source.filesize|filesize }})
                    </li>
                {% endfor %}
            </ul>
        </p>
        <p>
            Titel: {{ file.series }}<br />
            Beschreibung:<br />
            - - - - - - - - - - - - - - - - - - - -<br />
            {{ file.episodeDescription }}<br />
            - - - - - - - - - - - - - - - - - - - -
        </p>
        <p>
            Alle Dateien löschen:<br />
            <a href="{{ url('intake_backend_delete', { 'file': file.id }) }}">Löschen</a>
        </p>