{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head %}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'intake_list_contacts', 'dropdown': 'backend'} %}
{% endblock %}

{% block body_main %}
    <h1>{{ 'intake.list_contacts.header'|trans }}</h1>
    <a href="{{ path('intake_backend_contact_new') }}" class="btn btn-default">
        <i class="glyphicon glyphicon-plus"></i> {{ 'intake.list_contacts.new_contact'|trans }}
    </a>
    {% if contacts is empty %}
        <p>{{ 'intake.list_contacts.no_contacts'|trans }}</p>
    {% else %}
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>{{ 'intake.list_contacts.contact_name'|trans }}</th>
                    <th>{{ 'intake.list_contacts.contact_email'|trans }}</th>
                    <th><span class="glyphicon glyphicon-cog"></span></th>
                </tr>
            </thead>
            <tbody>
                {% for contact in contacts %}
                <tr>
                    <td>{{ contact.name }}</td>
                    <td><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></td>
                    <td>
                        <a class="btn btn-default btn-xs" href="{{ path('intake_backend_contact_edit', { 'contact': contact.id }) }}">
                            <span class="glyphicon glyphicon-edit"></span> {{ 'intake.list_contacts.contact_edit'|trans }}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock%}