{% extends "OktolabIntakeBundle::layout.html.twig" %}

{% block nav_head %}
    {% include 'OktolabIntakeBundle::menu.html.twig' with {'selected': 'intake_list_files', 'dropdown': 'backend'} %}
{% endblock %}

{% block body_main %}
<div class="row">
    <div class="col-md-10"><h1>{{ 'intake.list_files.header'|trans }}</h1></div>
    {% set allfiles = 0 %}
    {% for file in files %}
        {% for source in file.sources %}
            {% set allfiles = allfiles + source.filesize %}
        {% endfor %}
    {% endfor %}
    <div class="col-md-2"><div class="well well-sm text-center"><span class="glyphicon glyphicon-hdd" aria-hidden="true"></span> {{allfiles|filesize~'/'~filecap|filesize}}</div></div>
</div>
{% if files is empty %}
{{ 'intake.list_files.noFiles'|trans }}
{% else %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>{{ 'intake.list_files.uploaderEmail'|trans }}</th>
                <th>{{ 'intake.list_files.contact'|trans }}</th>
                <th>{{ 'intake.list_files.name'|trans }}</th>
                <th>{{ 'intake.list_files.description'|trans }}</th>
                <th>{{ 'intake.list_files.files'|trans }}</th>
                <th><span class="glyphicon glyphicon-cog"></span></th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
            <tr>
                <td><a href="mailto:{{ file.uploaderEmail }}">{{ file.uploaderEmail|default('') }}</a></td>
                <td><a href="mailto:{{ file.contact.email|default('') }}" title="{{ file.contact.email|default('') }}">{{ file.contact.name|default('') }}</a></td>
                <td>{{ file.series }}</td>
                <td>{{ file.episodeDescription }}</td>
                <td>
                    {% for source in file.sources %}
                        <p>
                            <a href="{{ path('intake_download', { 'name': source.name}) }}">
                                <span class="glyphicon glyphicon-download"></span> {{ source.originalName~' ('~source.filesize|filesize~')' }}
                            </a>
                        </p>
                    {% endfor %}
                </td>
                <td>
                    <a class="btn btn-danger btn-xs" href="{{ path('intake_backend_delete', { 'file': file.id }) }}"><span class="glyphicon glyphicon-trash"></span> {{ 'intake.list_files.deleteFile'|trans }}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock%}