{% block form_row %}
{% spaceless %}
    <div class="form-group">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <p class="text-warning">{{ error.message }}</p>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block button_attributes %}
{% spaceless %}
    id="{{ id }}" name="{{ full_name }}"{% if disabled %} disabled="disabled"{% endif %}
    {% set hasClass = false %}
    {% for attrname, attrvalue in attr %}
        {{ attrname }}="{{ attrvalue }}"
        {% if attrname == "class" %}
          {% set hasClass = true %}
        {% endif %}
    {% endfor %}
    {% if not hasClass %}
    class="btn btn-default"
    {% endif %}
{% endspaceless %}
{% endblock button_attributes %}

{% block button_row -%}
    {{- form_widget(form) -}}
{%- endblock button_row %}

{% block checkbox_row %}
{% spaceless %}
    <div class="form-group">
        <div class="checkbox">
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        {{ form_label(form) }}
    </div>
    </div>
{% endspaceless %}
{% endblock checkbox_row%}
