{% block menu %}
    <li {% if selected == "intake_new" %}class="active"{% endif %}>
        <a href="{{ path('intake_new') }}">{{ 'intake.menu.uploadForm'|trans }}</a>
    </li>
    <li {% if dropdown == "backend" %}class="dropdown active"{% else %}class="dropdown"{% endif %}>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'intake.menu.backend'|trans }} <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li {% if selected == "intake_list_files" %}class="active"{% endif %}>
                <a href="{{ path('intake_backend') }}">{{ 'intake.menu.list_files'|trans }}</a>
            </li>
            <li {% if selected == "intake_list_contacts" %}class="active"{% endif %}>
                <a href="{{ path('intake_backend_contacts') }}">{{ 'intake.menu.list_contacts'|trans }}</a>
            </li>
        </ul>
    </li>
    <li {% if selected == "intake_about" %}class="active"{% endif %}>
        <a href="{{ path('intake_about') }}">{{ 'intake.menu.about'|trans }}</a>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-globe"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="{{ path('intake_new', {'_locale': 'de'}) }}">Deutsch</a></li>
            <li><a href="{{ path('intake_new', {'_locale': 'en'}) }}">English</a></li>
            <li></li>
        </ul>
    </li>
{% endblock %}